name: "Build and Export Game"
on:
  workflow_dispatch:
  pull_request:
  release:
    types:
      - published
  push:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build:
    name: Build for web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - uses: endlessm/godot-export-action@v1
        with:
          godot_version: 4.4.1

      - name: Upload web artifact
        uses: actions/upload-artifact@v6
        with:
          name: web
          path: build/web

  release:
    name: Attach to release
    needs: [build]
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download web bundle
        uses: actions/download-artifact@v7
        with:
          name: web
          path: web

      - name: Attach web bundle to release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          pushd web
          zip -r "../moddable-platformer-${{ github.ref_name }}-web.zip" .
          popd

          gh release upload '${{ github.ref_name }}' 'moddable-platformer-${{ github.ref_name }}-web.zip' --repo '${{ github.repository }}'
